/*HEADER*/
body,
body.aniversario {
    header {
        .btn_aniversario {
            span {
                @media screen and (min-width:$mobile) {
                    &.active,
                    &:hover {
                        &.active,
                        &:hover {
                            a {
                                background-color: #502024!important;
                            }

                            .text {
                                color: #e2ddcb;
                            }

                            .ico {
                                svg {
                                    path {
                                        fill: #e2ddcb;
                                    }
                                }
                            }
                        }
                    }
                }

                &+div {
                    @media screen and (min-width:$mobile) {
                        background-color: #502024 !important;

                        ul {
                            li {
                                background-image: url(/arquivos/ico-arrow-brown.png) !important;

                                a {
                                    color: #e2ddcb;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.departamento.aniversario,
.produto.aniversario {
    header {
        .btn_aniversario {
            display: block !important;

            span {
                @media screen and (min-width:$mobile) {
                    .ico {
                        path {
                            fill: black;
                        }
                    }
                }
            }
        }

        .icones {
            li.account {
                svg {
                    path {
                        fill: black;
                        stroke: black;
                    }
                }

                .client_name {
                    p {
                        color: black;
                    }
                }
            }
        }
    }
}

/*FIM - HEADER*/

/*LANDING PAGE*/
.home {
    #landing_page {
        display: block;
    }
    
    &.active {
        overflow: auto;
    }
}

#landing_page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999999;
    background-color: white;
    overflow: auto;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 300ms;

    &.active {
        opacity: 1;
        visibility: visible;
    }
}

#landing_page,
.landing_aniversario {

    /*LEIA MAIS*/
    .more {
        @media screen and (max-width:$mobile) {
            position: relative;
            margin: 40px 0 30px;
            padding-bottom: 50px;

            &:hover {
                &:after {
                    display: none;
                }

                p {
                    height: auto;
                }
            }

            &:after {
                content: 'Leia mais';
                position: absolute;
                left: 0;
                bottom: 0;
                font-size: 16px;
                font-weight: 700;
                color: #bfb2a5;
            }

            p {
                height: 100px;
                overflow: hidden;
                transition: all 300ms;
            }
        }
    }

    .row_2 {
        .more {
            &:after {
                color: #6b6b6b;
            }
        }
    }

    /*FIM - LEIA MAIS*/

    section {
        &.row_1 {
            @media screen and (min-width:$mobile) {
                background-image: url(/arquivos/full_banner_landing.jpg?v=100);
            }

            @media screen and (max-width:$mobile) {
                background-image: url(/arquivos/full_banner_landing_mob.jpg);
                background-position: top center;
            }

            .head {
                padding-top: 20px;

                ul {
                    display: flex;
                    justify-content: center;

                    @media screen and (max-width:$mobile) {
                        flex-direction: column;
                        text-align: center;
                    }

                    li {
                        @media screen and (min-width:$mobile) {
                            margin-right: 50px;

                            &:last-child {
                                margin-right: 0;
                            }
                        }

                        @media screen and (max-width:$mobile) {
                            &:last-child {
                                margin-top: 30px;
                            }
                        }
                    }
                }
            }

            .content {
                .center {
                    text-align: center;
                    padding: 80px 0;
                }

                ul {
                    display: flex;
                    justify-content: center;

                    @media screen and (max-width:$mobile) {
                        flex-direction: column;

                        li {
                            a {
                                width: 100% !important;
                            }

                            &:last-child {
                                margin-top: 15px;
                            }
                        }
                    }

                    li {
                        @media screen and (min-width:$mobile) {
                            margin-right: 20px;
                        }

                        &:last-child {
                            margin-right: 0;

                            a {
                                color: #fff;
                                text-indent: 0;
                                text-align: center;
                                background-color: #37bb9f;
                            }
                        }

                        a {
                            display: inline-block;
                            width: 300px;
                            height: 65px;
                            line-height: 65px;
                            text-indent: 15px;
                            font-size: 30px;
                            font-weight: 500;
                            font-family: $font-oswald;
                            text-transform: uppercase;
                            color: #37bb9f;
                            border: 2px solid #37bb9f;
                            border-radius: 3px;
                        }
                    }
                }

                .description {
                    p {
                        color: #bfb2a5;
                        font-size: 18px;
                        font-weight: 400;

                        @media screen and (min-width:$mobile) {
                            padding: 60px 0 250px;
                        }
                    }
                }
            }
        }

        &.row_2 {
            position: relative;

            @media screen and (max-width:$mobile) {
                background-color: #f5f5f5;
                margin-bottom: 50px;
            }

            &:after {
                content: '';
                width: 100%;
                height: 1035px;
                background-color: #f5f5f5;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
            }

            ul {
                display: flex;
                flex-wrap: wrap;
                margin-top: -115px;
                margin-bottom: 80px;

                @media screen and (max-width:$mobile) {
                    margin: 0 -15px;
                }

                li {
                    width: 25%;

                    @media screen and (max-width:$mobile) {
                        width: 50%;
                    }

                    img {
                        width: 100%;
                        height: auto;
                    }

                    @media screen and (min-width:$mobile) {

                        &:nth-child(5),
                        &:nth-child(6),
                        &:nth-child(7),
                        &:nth-child(8) {
                            position: relative;
                            top: -4px;
                        }
                    }
                }
            }

            .info {
                display: flex;
                flex-wrap: wrap;

                &.info_2 {
                    .text {
                        @media screen and (min-width:$mobile) {
                            padding-right: 30px;
                            text-align: right;
                        }
                    }
                }

                .image {
                    width: 45%;

                    @media screen and (max-width:$mobile) {
                        width: 100%;
                        order: 1;
                        margin-bottom: 20px;

                        .box-banner {
                            margin: 50px -15px 0 -15px;

                            img {
                                width: 100%;
                                height: auto;
                            }
                        }
                    }
                }

                .text {
                    width: 55%;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    justify-content: center;

                    @media screen and (max-width:$mobile) {
                        width: 100%;
                        order: 2;
                    }

                    h2 {
                        width: 100%;
                        line-height: 39px;
                        color: #401a1d;
                        font-family: $font-oswald;
                        font-size: 40px;
                        font-weight: bold;
                        text-transform: uppercase;

                        @media screen and (min-width:$mobile) {
                            margin-bottom: 40px;
                        }

                        @media screen and (max-width:$mobile) {
                            font-size: 30px;
                            line-height: 30px;
                        }
                    }

                    p {
                        color: #6b6b6b;
                        font-size: 18px;
                        font-weight: 400;
                    }
                }
            }
        }

        &.row_3 {
            position: relative;

            @media screen and (min-width:$mobile) {
                margin-top: 130px;
            }

            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 455px;
                display: block;
                background-color: #e2ddca;
                z-index: -1;

                @media screen and (max-width:$mobile) {
                    height: 1100px;
                }
            }

            .info {
                display: flex;
                flex-wrap: wrap;

                .column_1 {
                    width: 40%;

                    @media screen and (max-width:$mobile) {
                        width: 100%;

                        img {
                            margin-top: 15px !important;
                            width: 100%;
                            height: auto;
                        }
                    }

                    img {
                        margin-top: -50px;
                    }
                }

                .column_2 {
                    width: 60%;

                    @media screen and (max-width:$mobile) {
                        width: 100%;
                    }

                    h2 {
                        font-size: 87px;
                        font-weight: bold;
                        font-family: $font-oswald;
                        line-height: 87px;
                        color: #464646;
                        text-transform: uppercase;

                        @media screen and (max-width:$mobile) {
                            font-size: 50px;
                            line-height: 50px;
                            margin: 20px 0;
                        }

                        @media screen and (min-width:$mobile) {
                            margin: 15px 0 30px -95px;
                        }

                        &+p {
                            margin-bottom: 30px;
                        }
                    }

                    p {
                        color: #6b6b6b;
                        font-size: 18px;
                        font-weight: 400;
                    }
                }
            }
        }
    }

    footer {
        padding: 15px 0;
        text-align: center;
        background-color: #ebebeb;

        p {
            br {
                display: none;

                @media screen and (max-width:$mobile) {
                    display: block;
                }
            }
        }
    }
}

/*FIM - LANDING PAGE*/