.bread-crumb {
    margin: 10px 0;
    
    ul {
        display: flex;

        li {
            color: #7A7A7A;
            font-size: 14px;

            @media screen and (max-width:$mobile) {
                font-size: 10px;
            }

            &:first-child {
                font-size: 0;

                &:before {
                    content: 'Home';
                    font-size: 14px;

                    @media screen and (max-width:$mobile) {
                        font-size: 10px;
                    }
                }
            }

            strong {
                font-weight: 400;
            }

            &:after {
                content: '/';
                margin: 0 15px;
                font-size: 16px;

                @media screen and (max-width:$mobile) {
                    font-size: 10px;
                }
            }

            &:last-child {
                &:after {
                    opacity: 0;
                }
            }
        }
    }
}