.cart_lateral_blur, .cart_lateral_mobile{
    &.active{
        display: block !important;
    }
}
.mobile_cart{
    overflow: hidden;
    .globalClass_a91{
        display: none !important;
    }
}
.cart_lateral_blur{
    background: #FFFFFF;
    opacity: 0.8;
    position: fixed;
    z-index: 9999999998;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
}
.cart_lateral_mobile{
    position: fixed;
    z-index: 9999999999;
    background-color: #fff;
    left: 0;
    right: 0;
    bottom: 0;
    height: 80vh;
    &-header{
        padding: 0 15px;
        display: block;
        width: 100%;
        background-color: #354158;
        color: #fff;
        .total-items{
            p{
                text-transform: uppercase;
                font-family: Oswald;
                font-style: normal;
                font-weight: bold;
                font-size: 22px;
                padding: 31px 0px 15px;
                line-height: 34px;
                color: #FFFFFF;
            }
        }
        .close{
            display: inline-block;
            position: absolute;
            right: -15px;
            top: 30px;
            height: 30px;
            i{
                display: none;
            }
            &::before, &::after{
                content: '';
                display: inline-block;
                position: relative;
                width: 28px;
                height: 2px;
                background-color: #fff;
                margin: 6px 0;
                top: 10px;
            }
            &::before {
                -webkit-transform:  rotate(-45deg) translate(3px,2px);
                transform:  rotate(-45deg) translate(3px,2px);
            }
            &::after {
            -webkit-transform: rotate(45deg) translate(-18px,17px);
            transform: rotate(45deg) translate(-18px,17px);
            }

        }
    }
    &-content{
        height: calc(100% - 210px);
        background: #fff;
        overflow: scroll;
        > ul {
            > li{
                position: relative;
                padding: 8px 0;
                border-bottom: 1px solid #c7c7c7;
                &:last-child{
                    border: none;
                }
                &:first-child{
                    padding-top: 15px;
                }
                .column_1,  .column_2{
                    display: inline-block;
                }
                .column_1{
                    img{
                        max-width: 110px;
                    }
                }
                .column_2{
                    float: right;
                    max-width: calc(100% - 130px);
                    margin-right: 15px;
                    min-height: 110px;
                    position: relative;
                    .name {
                        margin-right: 30px;
                        p{
                            font-family: Roboto;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 16px;
                            letter-spacing: -0.02em;
                            text-transform: uppercase;
                        }
                    }
                    .ft{
                        position: absolute;
                        bottom: 0;
                        li{
                            padding-right: 30px;
                            i{
                                display: block;
                                font-family: Roboto;
                                font-style: normal;
                                color: #989898;
                            }
                            display: inline-block;
                        }
                    }
                }
            }
        }
        .removeUni{
            position: absolute;
            right: 0px;
            &::before, &::after{
                content: '';
                display: inline-block;
                position: relative;
                width: 20px;
                height: 2px;
                background-color: #DB6885;
                margin: 6px 0;
            }
            &::before {
                -webkit-transform:  rotate(-45deg) translate(0px,5px);
                transform:  rotate(-45deg) translate(0px,5px);
            }
            &::after {
            -webkit-transform: rotate(45deg) translate(-9px,14px);
            transform: rotate(45deg) translate(-9px,14px);
            }
        }
    }
    &-footer{
        height: 130px;
        border-top: 1px solid #C7C7C7;
        .footer-total{
            padding: 15px 15px 0px 15px;
            span, i{
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 25px;
            }
            i{
                float: right;
                color: #DB6885;
            }
        }
        .footer-parcelado{
            padding: 0px 15px 0px 0px;
            display: block;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 25px;
            text-align: right;
        }
        .btn-finalizar{
            font-family: Oswald;
            font-style: normal;
            font-weight: bold;
            font-size: 25px;
            line-height: 37px;
            letter-spacing: -0.02em;
            text-transform: uppercase;
            color: #FFFFFF;
            background-color: #45C876;
            box-shadow: 0px 4px 8px #45C876;
            display: block;
            padding: 9px 0px 9px 15px;
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            background-position: 95%;
            background-repeat: no-repeat;
            background-image: url(/arquivos/right-arrow.png);
        }   
    }
}