.faq-page{
    h1, h2, .step span, .faq_title a{
        font-family: Oswald,sans-serif;
    }
    h1{
        color: #cb424f;
        font-size: 49px;
    }
    .faq_title{
        margin-top: 20px;
        text-align: center;
        a{
            display: inline-block;
            font-weight: bold;
            margin: 35px 80px 0 80px;
            color: #2e2e2e;
            font-size: 30px;
            text-decoration: underline;
        }
    }
    .como_se-cadastrar{
        margin-top: 30px;
        padding: 45px 0;
        background: #f2f2f2;
    }
    h2, .step span{
        color: #2e2e2e;        
        font-weight: 600;
        font-size: 25px;
    }
    h2{
        margin-bottom: 25px;
    }
    .step{
        display: block;
        padding: 10px 0;
        border-bottom: 1px solid #bfbfbf;
        .content{
            display: none;
            p{
                margin-bottom: 10px;
            }
        }
        &.actived{
            .content{
                display: block;
            }
            span{
                &::before{
                    content: '-';
                }
            }
        }
    }
    .step span{
        user-select: none;
        -moz-user-select: none;
        font-style: italic;
        padding-left: 40px;
        cursor: pointer;
        &::before{
            content: '+';
            color: #cb424f;
            position: relative;
            display: inline-block;
            font-size: 45px;
            position: absolute;
            top: 10px;
            left: 20px;
            line-height: 35px;
        }
    }
    .step .content{
        margin-left: 200px;
        width: 680px;
        margin-top: 20px;
        position: relative;
        &::before{
            content: '';
            background-color: #cb424f;
            position: absolute;
            display: inline-block;
            height: 100%;
            width: 2px;
            top: 0;
            left: -20px;
            line-height: 35px;
        }
    }
}