.institucional {
  .quem-somos {
    @media screen and (min-width: $mobile) {
      padding-bottom: 30px;
    }

    .quem-somos-text {
      .title {
        margin: 25px 0;
        font-size: 50px;
        color: $cor-secundaria;
        text-transform: uppercase;
        font-family: $font-secundaria;
      }

      p {
        font-size: 13px;
        line-height: 1.3;
        color: #2e2e2e;
        margin-bottom: 0px;
        font-family: $font-principal;
      }

      form {
        padding: 50px;
        box-shadow: 0px 0px 10px 2px #dcdcdc;

        fieldset {
          >div {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &.one {
              p {
                width: 100%;
              }
            }

            &.two {
              p {
                width: calc(100% / 2 - 20px);
              }
            }

            &.three {
              p {
                width: calc(100% / 3 - 20px);
              }
            }

            p {
              label {
                font-size: 16px;
              }

              input {
                width: 100%;
                height: 40px;
                text-indent: 15px;
                margin: 5px 0 15px;
                border: 1px solid #e1e1e1;
              }

              textarea {
                width: 100%;
                resize: none;
                padding: 15px;
                min-height: 150px;
                border: 1px solid #e1e1e1;
              }

            }
          }

          input[type="submit"] {
            width: auto;
            height: 40px;
            float: right;
            color: #fff;
            font-size: 28px;
            cursor: pointer;
            margin-top: 20px;
            padding: 2px 30px;
            background-color: #000;
            text-transform: uppercase;
            font-family: $font-secundaria;
          }
        }
      }
    }

    .box-contato {
      width: 100%;
      height: 900px;
      margin-top: 50px;
      padding-top: 350px;
      position: relative;
      display: inline-block;

      @media screen and (max-width: 690px) {
        height: auto;
        padding-top: 30px;
      }

      &:before,
      &:after {
        content: '';
        display: block;
        position: absolute;
        background-size: 100%;
      }

      &:before {
        width: 585px;
        height: 420px;
        margin-top: -210px;
        margin-left: 310px;
        background-size: 100%;
        background: url("/arquivos/img-quem-somos-2.jpg");

        @media screen and (max-width: $mobile) {
          left: 0;
          width: 490px;
          height: 360px;
          margin-left: 0px;
        }

        @media screen and (max-width: 690px) {
          width: 255px;
          height: 230px;
          position: relative;
          margin: 0 auto 20px auto;
          background: url("/arquivos/img-quem-somos-3.jpg");
        }
      }

      &:after {
        right: 0;
        width: 280px;
        height: 250px;
        margin-top: -350px;
        background-size: 100%;
        background: url("/arquivos/img-quem-somos-3.jpg");

        @media screen and (max-width: 768px) {
          width: 255px;
          height: 230px;
          margin-top: -250px;
        }

        @media screen and (max-width: 690px) {
          left: 0;
          width: 100%;
          z-index: -1;
          height: 270px;
          margin-top: 0;
          margin-left: 0;
          position: relative;
          background-size: 100%;
          background: url("/arquivos/img-quem-somos-2.jpg");
        }
      }

      .box-atendimento {
        float: left;
        font-size: 13px;
        font-family: $font-principal;

        .box-title {
          font-size: 31px;
          color: #2e2e2e;
          margin-bottom: 15px;
          text-transform: uppercase;
          font-family: $font-secundaria;
        }

        span {
          text-transform: uppercase;
          display: block;
        }

        .box-conteudo {
          background: #fff;
          box-shadow: 0px 0px 10px 2px #dcdcdc;
        }

        &.telefone {
          @media screen and (max-width: $mobile) {
            margin-top: 90px;
          }

          @media screen and (max-width: 690px) {
            margin-top: 220px;
          }

          .box-conteudo {
            width: 540px;
            padding: 50px 20px;

            p {
              font-size: 16px;
              margin-bottom: 15px;
            }

            span {
              font-size: 16px;
              margin-bottom: 15px;
            }

            @media screen and (max-width: 690px) {
              width: 100%;
              padding-top: 60px;
              padding-bottom: 30px;
            }

            .box-title {
              @media screen and (max-width: 690px) {
                width: 180px;
              }
            }
          }
        }

        &.email {
          position: absolute;
          width: 485px;
          right: 0;
          padding-left: 0px;
          padding-right: 0px;

          @media screen and (max-width: $mobile) {
            margin-top: 380px;
            padding-left: 0px;
            padding-right: 0px;
          }

          @media screen and (max-width: 690px) {
            width: 100%;
            position: relative;
            right: auto;
            margin-bottom: 30px;
            margin-top: 0px;
            padding-left: 15px;
            padding-right: 15px;
          }

          .box-conteudo {
            margin-top: 95px;
            padding: 50px 20px 30px 20px;

            p {
              font-size: 16px;
              margin-bottom: 15px;
            }

            @media screen and (max-width: 690px) {
              margin-top: 50px;
              padding-top: 20px;
            }
          }

          .box-title {
            margin-bottom: 0px;

            @media screen and (max-width: 690px) {
              width: 180px;
            }
          }

          .form-contato {
            position: relative;

            input[type="email"],
            input[type="text"],
            textarea {
              display: block;
              width: 100%;
              height: 40px;
              margin-bottom: 10px;
              padding-left: 15px;
              border: 1px solid #e1e1e1;
              outline-color: $cor-secundaria;

              &::placeholder {
                color: #9a9a9a;
                font-size: 16px;
              }

              &:-ms-input-placeholder {
                color: #9a9a9a;
                font-size: 16px;
              }

              &::-ms-input-placeholder {
                color: #9a9a9a;
                font-size: 16px;
              }

              &.text-area {
                height: 100px;
                margin-bottom: 25px;
                padding-top: 10px;
                font-size: 16px;
                font-family: $font-principal;

                &::placeholder {
                  color: #9a9a9a;
                  font-size: 16px;
                  font-family: $font-principal;
                }

                &:-ms-input-placeholder {
                  color: #644b4b;
                  font-size: 16px;
                  font-family: $font-principal;
                }

                &::-ms-input-placeholder {
                  color: #9a9a9a;
                  font-size: 16px;
                  font-family: $font-principal;
                }
              }
            }

            .link-home {
              font-size: 14px;
              color: #2e2e2e;
              text-decoration: underline;
              display: inline-block;
              margin-top: 10px;

              @media screen and (max-width: 690px) {
                bottom: 0;
                width: 100%;
                position: absolute;
                text-align: center;
              }
            }

            input[type="submit"] {
              width: 165px;
              height: 45px;
              padding: 0;
              float: right;
              text-align: left;
              font-size: 30px;
              cursor: pointer;
              color: #e1e1e1;
              position: relative;
              background: #292929;
              background-position: 93%;
              text-transform: uppercase;
              background-repeat: no-repeat;
              font-family: $font-secundaria;
              background-image: url(/arquivos/right-arrow-pg-error.png);

              @media screen and (max-width: 690px) {
                float: none;
                width: 100%;
                margin-top: 15px;
                margin-bottom: 40px;
              }
            }
          }

          p {
            @media screen and (max-width: 690px) {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}