/*ALTERAÇAO GRID*/
.container {
	@media screen and (min-width:$mobile) {
		width: 1210px;
		max-width: 100%;
	}
}

/*FIM - ALTERAÇAO GRID*/

fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

@mixin clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

.ui-autocomplete,
#ajaxBusy {
	display: none !important;
}

.hidden-xs,
.desktop {
	@media screen and (max-width: $mobile) {
		display: none;
	}
}

.mobile {
	display: none;

	@media screen and (max-width: $mobile) {
		display: block !important;
	}
}

#btn_whats {
	position: fixed;
	left: 15px;
	bottom: 15px;
}

#overlay {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	z-index: 11;
	position: fixed;
	visibility: hidden;
	transition: opacity 300ms;
	background: rgba(0, 0, 0, 0.38);

	&.active {
		opacity: 1;
		visibility: visible;
	}

	&.strong {
		opacity: 1;
		visibility: visible;
		z-index: 10;
	}
}

#continue_buy {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 500px;
	margin-left: -250px;
	background-color: white;
	z-index: 1;
	display: block;
	height: 265px;
	margin-top: -132.5px;
	padding: 15px;
	z-index: 12;
	visibility: hidden;
	opacity: 0;
	transition: opacity 300ms;

	&.active {
		visibility: visible;
		opacity: 1;
	}

	@media screen and (max-width:$mobile) {
		width: calc(100% - 30px);
		height: auto;
		top: 20%;
		left: 15px;
		margin: 0;
	}

	&>.close {
		float: right;
		margin-top: -40px;
		font-weight: bold;
		color: white;
		font-size: 18px;
		margin-right: -15px;
	}

	.content {
		.head {
			padding: 20px 0;
			text-align: center;
			margin-bottom: 20px;
			border-bottom: 1px solid #dcdcdc;

			svg {
				width: 80px;
				height: 84px;
				margin-bottom: 25px;
			}

			p {
				font-size: 16px;
				font-weight: 400;
				text-align: center;
				text-transform: uppercase;

				@media screen and (max-width:$iphone5) {
					font-size: 14px;
				}
			}
		}

		.footer {
			ul {
				display: flex;
				justify-content: space-between;

				@media screen and (max-width:$mobile) {
					flex-direction: column;
				}

				li {
					a {
						width: 220px;
						height: 35px;
						line-height: 35px;
						font-weight: bold;
						text-align: center;
						display: inline-block;
						text-transform: uppercase;

						@media screen and (max-width:$mobile) {
							width: 100%;
							margin-bottom: 10px;
						}
					}

					&:nth-child(1) {
						a {
							font-weight: bold;
							color: $cor-principal;
							border: 1px solid $cor-principal;
						}
					}

					&:nth-child(2) {
						a {
							background-color: $cor-cta;
							color: #fff;
						}
					}
				}
			}
		}
	}
}

@keyframes loading {
	0% {
		transform: translate(-50%, -50%) rotate(0deg);
	}

	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

#loading-app {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	display: flex;
	position: fixed;
	align-items: center;
	justify-content: center;
	transition: opacity 300ms;
	background-color: #d4d4d461;

	&:not(.active) {
		opacity: 0;
		visibility: hidden;
	}

	.loading div {
		position: absolute;
		width: 90px;
		height: 90px;
		border: 15px solid $cor-principal;
		border-top-color: transparent;
		border-radius: 50%;
	}

	.loading div {
		animation: loading 1s linear infinite;
		top: 75px;
		left: 75px;
	}

	.loadingio-spinner-rolling-w7rs7kfu8i {
		width: 150px;
		height: 150px;
		display: inline-block;
		overflow: hidden;
		background: none;
	}

	.loading {
		width: 100%;
		height: 100%;
		position: relative;
		transform: translateZ(0) scale(1);
		backface-visibility: hidden;
		transform-origin: 0 0;
	}

	.loading div {
		box-sizing: content-box;
	}
}

/*SWEET ALER*/
button.swal-button.swal-button--confirm {
	background-color: $cor-cta;

	&:hover {
		background-color: $cor-cta;
	}
}

.txt-center {
	text-align: center;
}

.dis-none {
	display: none;
}

.bold {
	font-weight: bold;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0;
	/* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
}

input[type="submit"] {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}

/*//////////////////////////////////////////////////////////////////
[ REBOOT ]*/
*,
*:before,
*:after {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body,
html {
	height: 100%;
	font-size: 14px;
	font-weight: 400;
	color: $cor-texto;
	box-sizing: border-box;
	font-family: $font-principal;

	&.active {
		@media screen and (max-width:$mobile) {
			overflow: hidden;
		}
	}
}

img {
	max-width: 100%;
	height: auto;
}

/*---------------------------------------------*/
a {
	color: inherit;
	transition: color 0.5s;
	text-decoration: none;
}

a:focus {
	outline: none;
}

a:hover {
	text-decoration: none;
	color: $cor-principal;
}

/*---------------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0px;
	font-family: $font-principal;
}

ul,
li {
	margin: 0px;
	list-style-type: none;
}

/*---------------------------------------------*/
input,
textarea,
label {
	display: block;
	outline: none;
	border: none;
}

/*---------------------------------------------*/
button {
	outline: none;
	border: none;
	background: transparent;
	cursor: pointer;

	&:focus {
		outline: none;
	}
}

iframe {
	border: none;
}