.zoomPad {
    position: relative;
    cursor: crosshair;
    overflow: hidden;

    #image-main {
        width: 100%;
        height: auto;
    }
}

.zoomOverlay,
.zoomPup,
.zoomWindow {
    position: absolute;
}

.zoomPup {
    overflow: hidden;
    background-color: #FFF;
    -moz-opacity: .6;
    opacity: .6;
    filter: alpha(opacity=60);
    border: 0;
    z-index: 1;
    cursor: crosshair;
}

.zoomOverlay {
    left: 0;
    top: 0;
    background: #FFF;
    width: 100%;
    height: 100%;
    display: none;
}

.zoomPreload {
    top: 0!important;
    left: 0!important;
    opacity: .8;
    transition: all 300ms;
    filter: alpha(opacity=80);
    background-color: #fff;
    background-image: url(/arquivos/ajax-loader.gif?v=100);
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 2;
    width: 100%;
    height: 100%;
}

.zoomWindow {
    z-index: 1 !important;
    height: 1102px !important;
    left: 0 !important;
    top: 40px;
    background: #FFF;
    height: auto;
}

.zoomWrapper {
    height: 1102px !important;
    position: relative;
    border: 0;
}

.zoomWrapperImage {
    width: 825px !important;
    height: 1102px !important;
    display: block;
    position: relative;
    overflow: hidden;
}

.zoomWrapperImage img {
    width: 1450px;
    height: 1700px;
}

.zoomIframe {
    z-index: -1;
    filter: alpha(opacity=0);
    -moz-opacity: .8;
    opacity: .8;
    position: absolute;
    display: block;
}